<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Powerhouse</title>

    <!-- Bootstrap Core CSS -->
    {% block extra_css %}{% endblock %}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/bs/jqc-1.12.0,dt-1.10.11/datatables.min.css"/>
    <!-- Custom CSS -->
    <link href="/static/css/simple-sidebar.css" rel="stylesheet">
    <link href="/static/css/screen.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
           <ul class="sidebar-nav" id="menu-accordion">
                <li class="sidebar-brand">
                    <a href="/">
                        Company logo
                    </a>
                </li>
                <li class="panel dashboard"> <a data-toggle="collapse" class="collapsed active" data-parent="#menu-accordion" href="#dashboard-link">Dashboard <span class="glyphicon  arrow"></span></a>
                    <ul id="dashboard-link" class="collapse">
                        <li><a href="#" class="active">SubTest1</a></li>
                        <li><a href="#">SubTest1</a></li>
                        <li><a href="#">SubTest1</a></li>
                    </ul>
                </li>
                <li class="panel transactions"> <a data-toggle="collapse" class="collapsed" data-parent="#menu-accordion" href="#transactions-link">Transactions <span class="glyphicon  arrow"></span></a>
                    <ul id="transactions-link" class="collapse">
                        <li><a href="/transaction/physical">Physical Transactions</a></li>
                        <li><a href="/hedge_tran/hedge_tran">Hedge Transactions</a></li>
                        <li><a href="#">SubTest2</a></li>
                        <li><a href="#">SubTest2</a></li>
                    </ul>
                </li>
                <li class="panel inv"> <a data-toggle="collapse" class="collapsed" data-parent="#menu-accordion" href="#inv-link">Inventories <span class="glyphicon  arrow"></span></a>
                    <ul id="inv-link" class="collapse">
                        <li><a href="#">SubTest2</a></li>
                        <li><a href="#">SubTest2</a></li>
                        <li><a href="#">SubTest2</a></li>
                        <li><a href="#">SubTest2</a></li>
                    </ul>
                </li>
                <li class="panel settings"> <a data-toggle="collapse" class="collapsed" data-parent="#menu-accordion" href="#settings-link">Settings <span class="glyphicon  arrow"></span></a>
                    <ul id="settings-link" class="collapse">
                        <li><a href="#">SubTest2</a></li>
                        <li><a href="#">SubTest2</a></li>
                        <li><a href="#">SubTest2</a></li>
                        <li><a href="#">SubTest2</a></li>
                    </ul>
                </li>
                <li class="panel hid"> <a data-toggle="collapse" class="collapsed" data-parent="#menu-accordion" href="#hidden-link">Hidden <span class="glyphicon  arrow"></span></a>
                    <ul id="hidden-link">
                        <li><a href="/users/users/">M2M Users</a></li>
                        <li><a href="/accounts/">M2M Accounts</a></li>
                        <li><a href="/inventory/inventories">Inventory</a></li>
                        <li><a href="/hedge_account/hedge_accounts">Hedge Account</a></li>
                        <li><a href="/counter/counters">Counter Party</a></li>
                        <li><a href="/product/products">Product</a></li>
                        <li><a href="/fuel/fuels">Fuel Class</a></li>
                        <li><a href="/inst/hedge_inst">Hedge Instrument</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div id="topbar">
                <div class="pull-left">
                    <a href="#menu-toggle" class="glyphicon glyphicon-menu-hamburger" id="menu-toggle"></a>
                </div>
                <div class="pull-right"></div>
                <div class="clearfix"></div>
            </div>

            <div id="main-content">
                {% block content %} {% endblock %}
            </div> <!-- /#main-content -->
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script type="text/javascript" src="/static/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.10.1.custom.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/t/bs/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
    {% block extra_js %}{% endblock %}
    

</body>

</html>
