{% extends "index.html" %}

{% block extra_css %}
  <link href="/static/css/hidden.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.1.2/css/select.dataTables.min.css"/>
{% endblock %}

{% block content %}

<div class="content-body">
  <div class="col-lg-12 main-box-container">
    <div class="box">
	<div class="box-head clearfix">
	    <h1 class="pull-left">Inventory</h1>

        <div class="actions pull-right">
			<a href="javascript:;" class="btn btn-add" data-toggle="modal" data-target="#add-phy-trans" title="Add Phy Transaction">
                 <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add Phy Transaction</a>
            <a href="javascript:;" class="btn btn-add" data-toggle="modal" data-target="#add-hedge-trans" title="Add Hedge Transaction">
                 <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add Hedge Transaction</a>
        </div>

	</div>
    <div class="box-content">
	<div class="table-container">
	    <table id="edit_inventory" class="table is-datatable">
                <thead>
                     <tr>
                         <th>Column name</th>       
                         <th>Content</th>       
                         <th>Description</th>       
                     </tr>
                </thead>
		<tbody>
                     <tr>
                         <td>Id</td>
                         <td><a>{{inventory.id}}</a></td>
                         <td><td>
                     </tr>
                     <tr>
                         <td>Create Date</td>
                         <td>{{inventory.create_date}}</td>
                         <td></td>
                     </tr>
                     <tr>
                         <td>Name</td>
                         <td><input type="text" value="{{inventory.name}}" class="form-control"></td>
                         <td></td>
                     </tr>
                     <tr>
                         <td>Fuel Type</td>
                         <td><input type="text" value="{{inventory.fuel_type}}" class="form-control"></td>
                         <td></td>
                     </tr>
                     <tr>
                         <td>Location</td>
                         <td><input type="text" value="{{inventory.location}}" class="form-control"></td>
                         <td></td>
                     </tr>
                     <tr>
                         <td>Identifier Number</td>
                         <td><input type="text" value="{{inventory.id_number}}" class="form-control"></td>
                         <td></td>
                     </tr>
                     <tr>
                         <td>Initial Volume</td>
                         <td><input type="text" value="{{inventory.volumn}}" class="form-control"></td>
                         <td></td>
                     </tr>
                     <tr>
                         <td>M2M Account</td>
                         <td>{{inventory.m2m_account.name}}</td>
                         <td></td>
                     </tr>
		</tbody>
	    </table>
	</div>
        <div class="modal-footer">
                    <button id="update_inventory" type="submit" class="btn btn-primary" onclick="update_inventory()">Save</button>
        </div>
    </div>

    <div class="box-head clearfix">
        <h1 class="pull-left">Products in "{{inventory.name}}"</h1>
		<div class="actions pull-right">
			<a href="javascript:;" class="btn btn-add" data-toggle="modal" data-target="#add-products" title="Add Products">
				         <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add Products</a>
		</div>
    </div>
    <div class="box-content">
        <div class="table-container">
            <table id="products" class="table is-datatable">
                <thead>
                    <tr>
                        <th class="select-checkbox no-filter"></th>
                        <th>Product Name</th>
                        <th>Description</th>
                        <th>Fuel Class</th>
                        <th>Volume</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr class="filters">
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for sell_price in sell_prices %}
                     <tr>
                         <td></td>
                         <td>{{sell_price.product.name}}</td>
                         <td>{{sell_price.product.description}}</td>
                         <td>{{sell_price.product.fuel_class.code}}</td>
                         <td>{{sell_price.volume}}</td>
                         <td>{{sell_price.price}}</td>
                     </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>

    <div id="add-products" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
                <form id="add_to_inventory" action="">
                  {% csrf_token %}
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add Products to Inventory</h4>
                  </div>
                  <div class="modal-body clearfix">
                    <div class="content-body col-lg-12 main-box-container box box-content table-container">
                        <table id="products" class="table is-datatable">
                            <thead>
                              <tr>
                                <th class="select-checkbox no-filter"></th>
                                <th>Name</th>
                                <th>Volume</th>
                                <th>Price</th>
                              </tr>
                            </thead>
                            <tbody>
                            {% for product in ex_products %}
                              <tr>
                                <td><input type="checkbox" value="{{product.id}}" class="select-checkbox"/></td>
                                <td>{{product.name}}</td>
                                <td><input type="text" value=0 class="form-control"></td>
                                <td><input id = 'p_price' type="text" value=0  class="form-control"></td>
                              </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
<!--
                    <div class="col-lg-12">
                        {% for product in all_products %}
                           <span style="display:inline-block;width: 20px;margin-left: 30px">
                               {% if product.id not in ex_products %}
                                <input type="checkbox" value="{{product.id}}" checked />
                               {% else %}
                                <input type="checkbox" value="{{product.id}}" />
                               {% endif %}
                           </span> 
                           <td>{{product.name}}</td>
                    {% endfor %}
                     </div>
-->
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="add_product_to_inven" type="button" class="btn btn-primary" onclick="add_to_inventory()">Save</button>
                  </div>
                </form>

            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="add-phy-trans" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
                <form id="physical_info" action="">
                  {% csrf_token %}
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add Physical Transaction</h4>
                  </div>
                  <div class="modal-body clearfix">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="">name</label>
                            <input type="text" id="name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">transaction type</label>
                            <select id="phy_type" class="form-control">
                              <option value="Purchase">Purchase</option>
                              <option value="Sell">Sell</option>
                              <option value="Transfer">Transfer</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">inventory </label>
                            <input type="text" id="inventory" value="{{inventory.name}}" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label for="">product</label>
                            <select id="product" class="form-control">
                                {% for f in product_list %}
                                <option value='{{f.id}}'>{{f.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">net volume </label>
                            <input type="text" id="volumn" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="">gross volume </label>
                            <input type="text"  class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">transaction price </label>
                            <input type="text" id="price" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">program</label>
                            <input type="text" id="program" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">counter party </label>
                            <select id="counter_party" class="form-control">
                                {% for f in counter_list %}
                                <option value='{{f.name}}'>{{f.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="add_user_btn" type="button" class="btn btn-primary" onclick="add_physical({{inventory.id}})">Save</button>
                  </div>
                </form>

            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="add-hedge-trans" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
            <form id="hedge_tran_info" action="">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Hedge Transaction</h4>
              </div>
              <div class="modal-body clearfix">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="">name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">transaction type</label>
                        <select id="hedge_trans_type" class="form-control">
                          <option value="Purchase">Purchase</option>
                          <option value="Sell">Sell</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">hedge account </label>
                        <input type="text" id="hedge_account" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">inventory </label>
                        <input type="text"  value="{{inventory.name}}" class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <label for="">contract</label>
                        <select id="instrument" class="form-control">
                            {% for f in instrument_list %}
                            <option value='{{f.instrument}}'>{{f.instrument}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">volume </label>
                        <input type="text" name="volumn" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="">transaction price </label>
                        <input type="text" name="price" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">initial position </label>
                        <select id="initial_pos" class="form-control">
                          <option value="true">True</option>
                          <option value="false">False</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">confirm number </label>
                        <input type="text" id="confirm number" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">trader </label>
                        <input type="text" id="trader" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">status </label>
                        <select id="status" class="form-control">
                          <option value="working">Working</option>
                          <option value="confirmed">Confirmed</option>
                          <option value="reconiled">Reconciled</option>
                          <option value="canceled">Canceled</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">program </label>
                        <input type="text" name="program" class="form-control">
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="add_hedge_tran()">Save</button>
              </div>
            </form>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


<div id='variables' style="display:none">
    <span id="inventory_id">{{inventory.id}}</span>
    <span id="auto_inventory_product">{{product_names}}</span>
    <span id="auto_supplier_counter">{{supplier_ids}}</span>
    <span id="auto_customer_counter">{{customer_ids}}</span>
    <span id="auto_to_inventory">{{to_inventory}}</span>
</div>


{% endblock%}

{% block extra_js %}
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/bootbox.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/t/bs/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.1.2/js/dataTables.select.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="/static/js/moment.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/hidden.js"></script>
{% endblock %}
