{% extends "index.html" %}

{% block extra_css %}
  <link href="/static/css/hidden.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.1.2/css/select.dataTables.min.css"/>
{% endblock %}

{% block content %}

<div class="content-body">
  <div class="col-lg-12 main-box-container">
    <div class="box">
	<div class="box-head clearfix">
	    <h1 class="pull-left">Inventory</h1>

        <div class="actions pull-right">
			<a href="javascript:;" class="btn btn-add" data-toggle="modal" data-target="#add-phy-trans" title="Add Phy Transaction">
                 <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add Phy Transaction</a>
            <a href="javascript:;" class="btn btn-add" data-toggle="modal" data-target="#add-hedge-trans" title="Add Hedge Transaction">
                 <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add Hedge Transaction</a>
        </div>

	</div>
    <div class="box-content">
	<div class="table-container">
	    <table id="edit_inventory" class="table is-datatable">
                <thead>
                     <tr>
                         <th>Column name</th>       
                         <th>Content</th>       
                         <th>Description</th>       
                     </tr>
                </thead>
		<tbody>
                     <tr>
                         <td>Id</td>
                         <td><a>{{phy_tran.id}}</a></td>
                         <td><td>
                     </tr>
                     <tr>
                         <td>Create Date</td>
                         <td>{{phy_tran.create_date}}</td>
                         <td></td>
                     </tr>
                     <tr>
                         <td>Name</td>
                         <td>{{phy_tran.name}}</td>
                         <td></td>
                     </tr>
                     <tr>
                         <td>Type</td>
                         <td>{{phy_tran.phy_type}}</td>
                         <td></td>
                     </tr>
                     <tr>
                         <td>Inventory</td>
                         <td>{{phy_tran.inventory.name}}</td>
                         <td></td>
                     </tr>
                     <tr>
                         <td>Product</td>
                         <td>{{phy_tran.product.name}}</td>
                         <td></td>
                     </tr>
                     <tr>
                         <td>Net Volume</td>
                         <td>{{phy_tran.net_volume}}</td>
                         <td></td>
                     </tr>
                     <tr>
                         <td>Gross Volume</td>
                         <td>{{phy_tran.gross_volume}}</td>
                         <td></td>
                     </tr>
                     <tr>
                         <td>Price</td>
                         <td>{{phy_tran.price}}</td>
                         <td></td>
                     </tr>
                     <tr>
                         <td>Counter Party</td>
                         <td>{{phy_tran.counter_party.name}}</td>
                         <td></td>
                     </tr>
                     <tr>
                         <td>Program</td>
                         <td>{{phy_tran.program}}</td>
                         <td></td>
                     </tr>
		</tbody>
	    </table>
	</div>
        <div class="modal-footer">
                    <button id="update_inventory" type="submit" class="btn btn-primary" onclick="update_hedge()">Save</button>
        </div>
    </div>


</div><!-- /.modal-dialog -->
</div><!-- /.modal -->




{% endblock%}

{% block extra_js %}
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/bootbox.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/t/bs/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.1.2/js/dataTables.select.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="/static/js/moment.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/hidden.js"></script>
{% endblock %}
