{% extends "index.html" %}

{% block extra_css %}
  <link href="/static/css/hidden.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.1.2/css/select.dataTables.min.css"/>
{% endblock %}

{% block content %}

<div class="content-body">
  <div class="col-lg-12 main-box-container">
    <div class="box">
	<div class="box-head clearfix">
	    <h1 class="pull-left">Inventory</h1>

	</div>
    <div class="box-content">
	<div class="table-container">
	    <table id="edit_inventory" class="table is-datatable">
                <thead>
                     <tr>
                         <th>Column name</th>       
                         <th>Content</th>       
                         <th>Description</th>       
                     </tr>
                </thead>
		<tbody>
                     <tr>
                         <td>Id</td>
                         <td><a>{{inventory.id}}</a></td>
                         <td><td>
                     </tr>
                     <tr>
                         <td>Create Date</td>
                         <td>{{inventory.create_date}}</td>
                         <td></td>
                     </tr>
                     <tr>
                         <td>Name</td>
                         <td><input type="text" value="{{inventory.name}}" class="form-control"></td>
                         <td></td>
                     </tr>
                     <tr>
                         <td>Fuel Type</td>
                         <td><input type="text" value="{{inventory.fuel_type}}" class="form-control"></td>
                         <td></td>
                     </tr>
                     <tr>
                         <td>Location</td>
                         <td><input type="text" value="{{inventory.location}}" class="form-control"></td>
                         <td></td>
                     </tr>
                     <tr>
                         <td>Id Number</td>
                         <td><input type="text" value="{{inventory.id_number}}" class="form-control"></td>
                         <td></td>
                     </tr>
                     <tr>
                         <td>Volumn</td>
                         <td><input type="text" value="{{inventory.volumn}}" class="form-control"></td>
                         <td></td>
                     </tr>
                     <tr>
                         <td>M2M Account</td>
                         <td>{{inventory.m2m_account.name}}</td>
                         <td></td>
                     </tr>
		</tbody>
	    </table>
	</div>
        <div class="modal-footer">
                    <button id="update_inventory" type="submit" class="btn btn-primary" onclick="update_inventory()">Save</button>
        </div>
    </div>
</div>
</div>
</div>

<div class="content-body">
  <div class="col-lg-12 main-box-container">
    <div class="box">
    <div class="box-head clearfix">
        <h1 class="pull-left">Products</h1>
        <div class="actions pull-right">
             <a href="javascript:;" class="btn btn-add" data-toggle="modal" data-target="#add-products" title="Add Products"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add Products</a>
        </div>
    </div>
    <div class="box-content">
        <div class="table-container">
            <div class="table-controls clearfix">
                <div class="table-actions pull-right">
                    <div class="separator">
                        <a title="Print selected rows" class="btn-print" href="javascript:;"></a>
                        <a class="btn-edit" href="javascript:;"></a>
                        <a id="delete_product" title="Delete selected rows" class="btn-delete" data-target="#remove_product" href="javascript:;"></a>
                    </div>
                </div>
                <div class=" input-group table-search col-lg-4 pull-right">
                    <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
                    <input type="search" placeholder="Search" class="form-control">
                </div>
            </div>

            <table id="users" class="table is-datatable">
                <thead>
                    <tr>
                        <th class="select-checkbox no-filter"></th>
                        <th class="no-filter">ID</th>
                        <th>Product Name</th>
                        <th>Desctiption</th>
                        <th>Fuel Class</th>
                        <th>Create Date</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr class="filters">
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for product in products %}
                     <tr>
                         <td></td>
                         <td>{{product.id}}</td>
                         <td>{{product.name}}</td>
                         <td>{{product.description}}</td>
                         <td>{{product.fuel_class.code}}</td>
                         <td>{{product.create_date | date:'Y-m-d H:i'}}</td>
                     </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>

    <div id="add-products" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
                <form id="add_to_inventory" action="">
                  {% csrf_token %}
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add Products to Inventory</h4>
                  </div>
                  <div class="modal-body clearfix">
                    <div class="col-lg-12">
                        {% for product in ex_products %}
                           <span style="display:inline-block;width: 20px;margin-left: 30px">
                             <input type="checkbox" value="{{product.id}}"/>
                           </span> 
                           <td>{{product.name}}</td>
                    {% endfor %}
                     </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="add_product_to_inven" type="button" class="btn btn-primary" onclick="add_to_inventory()">Save</button>
                  </div>
                </form>

            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

<div id='variables' style="display:none">
    <span id="inventory_id">{{inventory.id}}</span>
</div>


{% endblock%}

{% block extra_js %}
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/bootbox.min.js"></script>
    <script src="/static/js/hidden.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/t/bs/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.1.2/js/dataTables.select.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="/static/js/moment.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js"></script>
{% endblock %}
