{% extends "index.html" %}

{% block extra_css %}
  <link href="/static/css/hidden.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.1.2/css/select.dataTables.min.css"/>
{% endblock %}

{% block content %}


<div class="content-body">
  <div class="col-lg-12 main-box-container">
    <div class="box">

        <div class="box-head clearfix">
            <h1 class="pull-left">Hedge Position</h1>
            <div class="actions pull-right">
            <a href="javascript:;" class="btn btn-add" data-toggle="modal" data-target="#add-hedge-account" title="Create Inventory"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Create Hedge Account</a>
            </div>
        </div>

        <div class="box-content">
            <div class="table-container">

                <div role="tabpanel" class="tab-pane" id="hedge-pos">
                    <table class="table data-table">
                    <thead>
                    <tr>
                        <th>Inventory name</th>
                        <th>Porduct name</th>
                        <th class="number">Volume</th>
                        <th class="number">Position</th>
                        <th class="number">Price</th>
                        <th class="number">Margin</th>
                        <th class="number">Cost Stats</th>
                        <th class="number">Supply Overview</th>
                        <th class="number">Sales Summary</th>
                        <th>Create Date</th>
                    </tr>
                    </thead>

                    <tbody>

                    {% for x in data %}
                    <tr>
                        <td>{{x.name}}</td>
                        <td>{{x.product_name}}</td>
                        <td style="text-align:right">{{x.volume}}</td>
                        <td style="text-align:right">{{x.pos}}</td>
                        <td style="text-align:right">{{x.price}}</td>
                        <td style="text-align:right">{{x.margin}}</td>
                        <td style="text-align:right">{{x.cost_stats}}</td>
                        <td style="text-align:right">{{x.overview}}</td>
                        <td style="text-align:right">{{x.summary}}</td>
                        <td>{{x.create_date | date:'Y-m-d H:i'}}</td>

                    </tr>
                    {% endfor %}

                    </tbody>
                    </tfoot>
                    </table>
                </div>
           </div>
        </div>
      </div>
  </div>
</div>
{% endblock%}

{% block extra_js %}
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/bootbox.min.js"></script>
    <script src="/static/js/hidden.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/t/bs/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.1.2/js/dataTables.select.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="/static/js/moment.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js"></script>
{% endblock %}
