{% extends "index.html" %}

{% block extra_css %}
  <link href="/static/css/hidden.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.1.2/css/select.dataTables.min.css"/>
{% endblock %}

{% block content %}

<div class="content-body">
  <div class="col-lg-12 main-box-container">
    <div class="box">

	<div class="box-head clearfix">
	    <h1 class="pull-left">Physical Transaction</h1>
	    <div class="actions pull-right">
		<a href="javascript:;" class="btn btn-add" data-toggle="modal" data-target="#add-physical" title="Create Inventory"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Create Physical Transaction</a>
	    </div>
	</div>
<!--
<div>
    <select  class="form-control selectpicker" style="width:255px; display:inline-block;">
        <option>No Filter</option>
        <option>Company</option>
        <option>User Name</option>
        <option>Email</option>
    </select>
</div>
-->
<div class="box-content">
	<div class="table-container">
	    <!-- Table Controls -->
	    <div class="table-controls clearfix">
		<div class="table-actions pull-right">
		    <div class="separator">
			<a title="Print selected rows" class="btn-print" href="javascript:;"></a>
			<a class="btn-edit" href="javascript:;"></a>
			<a id="delete_physical" title="Delete selected rows" class="btn-delete" data-target="#remove_user" href="javascript:;"></a>
		    </div>
		</div>
		<div class=" input-group table-search col-lg-4 pull-right">
		    <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
		    <input type="search" placeholder="Search" class="form-control">
		</div>
<!--
		<div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-filter" aria-hidden="true"></i></span>
		    <select  class="form-control selectpicker" style="width:255px; display:inline-block;">
			<option>User Name</option>
			<option>Email</option>
		    </select>
		</div>
-->
	    </div>


	    <table id="users" class="table is-datatable">
		<thead>
		    <tr>
			<th class="select-checkbox no-filter"></th>
			<th class="no-filter">ID</th>
			<th>Name</th>
			<th>Type</th>
			<th>Inventory</th>
			<th>Product</th>
			<th>Net Volume</th>
                        <th>Price</th>
                        <th>Counter Party</th>
	                <th>Create Date</th>
		    </tr>
		</thead>
		<tfoot>
		    <tr class="filters">
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		    </tr>
		</tfoot>
		<tbody>
                    {% for physical in physicals %}
                     <tr>
                         <td></td>
                         <td><a href="/api/physical/?physical_id={{physical.id}}">{{physical.id}}</a></td>
                         <td><a href="/api/physical/?physical_id={{physical.id}}">{{physical.name}}</td>

                         <td>{{physical.phy_type}}</td>
                         <td>{{physical.inventory.name}}</td>
                         <td>{{physical.product.name}}</td>
                         <td>{{physical.net_volume}}</td>
                         <td>{{physical.price}}</td>
                         <td>{{physical.counter_party.name}}</td>
                         <td>{{physical.create_date | date:'Y-m-d H:i'}}</td>
                     </tr>
                    {% endfor %}
		</tbody>
	    </table>
	</div>
</div>
</div>
</div>
</div>

<!-- modals -->
        <div id="add-physical" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
                <form id="physical_info" action="">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add Physical Transaction</h4>
                  </div>
                  <div class="modal-body clearfix">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="">name</label>
                            <input type="text" id="name" class="form-control"> 
                        </div>
                        <div class="form-group">
                            <label for="">transaction type</label>
                            <select id="phy_type" class="form-control">
                              <option value="Sell">Sell</option>
                              <option value="Purchase">Purchase</option>
                              <option value="Transfer">Transfer</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">inventory </label>
                            <input type="text" id="inventory" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">product</label>
                            <input type="text" id="product" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">net volume </label>
                            <input type="text" id="volumn" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="">gross volume </label>
                            <input type="text" id="volumn" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">transaction price </label>
                            <input type="text" id="price" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">program</label>
                            <input type="text" id="program" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">counter party </label>
                            <input type="text" id="counter_party" class="form-control">
                        </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="add_user_btn" type="button" class="btn btn-primary" onclick="add_physical()">Save</button>
                  </div>
                </form>

            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

<!--
    <div id="remove_user" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="bootbox-body">Are you sure you want to delete the items?
                </div>
            </div>
        </div>
    </div>
-->
<div id='variables' style="display:none">
    <span id="auto_inventory">{{invent_list}}</span>
    <span id="auto_product">{{product_list}}</span>
    <span id="auto_counter_party">{{counter_list}}</span>
</div>

{% endblock%}

{% block extra_js %}
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/bootbox.min.js"></script>
    <script src="/static/js/hidden.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/t/bs/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.1.2/js/dataTables.select.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="/static/js/moment.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js"></script>
{% endblock %}
