{% extends "index.html" %}

{% block extra_css %}
  <link href="/static/css/hidden.css" type="text/css" rel="stylesheet">
  <link href="/static/css/bootstrap-tagsinput.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.1.2/css/select.dataTables.min.css"/>
{% endblock %}

{% block content %}

<div class="content-body">
  <div class="col-lg-12 main-box-container">
    <div class="box">
	<div class="box-head clearfix">
	    <h1 class="pull-left">M2M Account</h1>
	    <div class="actions pull-right">
            <a href="javascript:;" class="btn btn-add" data-toggle="modal" data-target="#add-fuel-type" title="Fuel Type">
            <i class="fa fa-plus" aria-hidden="true"></i>Fuel Type</a>
		<a href="javascript:;" class="btn btn-add" data-toggle="modal" data-target="#add-inventory" title="Create Inventory">
            <i class="fa fa-plus" aria-hidden="true"></i>Create Inventory</a>
        <a href="javascript:;" class="btn btn-add" data-toggle="modal" data-target="#add-hedge-account" title="Create Hedge Account">
            <i class="fa fa-plus" aria-hidden="true"></i>Create Hedge Account</a>
	    </div>
	</div>
<!--
<div>
    <select  class="form-control selectpicker" style="width:255px; display:inline-block;">
        <option>No Filter</option>
        <option>Company</option>
        <option>User Name</option>
        <option>Email</option>
    </select>
</div>
-->

        <div class="box-content">
        <div class="table-container">
            <table id="edit_account" class="table is-datatable">
                <thead>
                     <tr>
                         <th>Column name</th>
                         <th>Content</th>
                         <th>Description</th>
                     </tr>
                </thead>
                <tbody>
                     <tr>
                         <td>Id</td>
                         <td><a>{{account.id}}</a></td>
                         <td><td>
                     </tr>
                     <tr>
                         <td>Create Date</td>
                         <td>{{account.create_date}}</td>
                         <td></td>
                     </tr>
                     <tr>
                         <td>Name</td>
                         <td><input type="text" value="{{account.name}}" class="form-control"></td>
                         <td></td>
                     </tr>
                     <tr>
                         <td>Address</td>
                         <td><input type="text" value="{{account.address}}" class="form-control"></td>
                         <td></td>
                     </tr>
                     <tr>
                         <td>Email</td>
                         <td><input type="text" value="{{account.email}}" class="form-control"></td>
                         <td></td>
                     </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
                    <button id="update_account" type="submit" class="btn btn-primary" onclick="update_account()">Save</button>
        </div>
    </div>
    
     <div class="box-head clearfix">
        <h1 class="pull-left">Inventories</h1>
    </div>
    <div class="box-content">
	<div class="table-container">
	    <!--
            <div class="table-controls clearfix">
		 <div class="table-actions pull-right">
		    <div class="separator">
			<a title="Print selected rows" class="btn-print" href="javascript:;"></a>
			<a class="btn-edit" href="javascript:;"></a>
			<a id="delete_inventory" title="Delete selected rows" class="btn-delete" data-target="#remove_user" href="javascript:;"></a>
		    </div>
		</div>
            <div class=" input-group table-search col-lg-4 pull-right">
                    <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
                    <input type="search" placeholder="Search" class="form-control">
            </div>
            </div>
            -->
	    <table id="inventories" class="table is-datatable">
		<thead>
		    <tr>
			<th class="select-checkbox no-filter"></th>
			<th class="no-filter">Inventory Name</th>
			<th>Fuel Type</th>
			<th>Location</th>
                        <th>Identifier Number</th>
                        <th>Volume</th>
                        <th>Create Date</th>
		    </tr>
		</thead>
		<tbody>
                {% for inventory in inventories %}
                 <tr>
                     <td></td>
                     <td><a href="/api/inventory/?inventory_id={{inventory.id}}">{{inventory.name}}</td>
                     <td>{{inventory.fuel_type}}</td>
                     <td>{{inventory.location}}</td>
                     <td>{{inventory.id_number}}</td>
                     <td>{{inventory.volumn}}</td>
                     <td>{{inventory.create_date | date:'Y-m-d H:i'}}</td>
                 </tr>
                {% endfor %}
		</tbody>
	    </table>
	</div>
    </div>
    <div class="box-head clearfix">
        <h1 class="pull-left">Hedge Accounts</h1>
    </div>
    <div class="box-content">
        <div class="table-container">
            <table id="hedge_accounts" class="table is-datatable">
                <thead>
                    <tr>
                        <th class="select-checkbox no-filter"></th>
                        <th>Hedge Name</th>
                        <th>Institution</th>
                        <th>Account Number</th>
                        <th>Create Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hedge_account in hedge_accounts %}
                     <tr>
                         <td></td>
                         <td><a href="/api/hedge/?hedge_id={{hedge_account.id}}">{{hedge_account.name}}</a></td>
                         <td>{{hedge_account.institution}}</td>
                         <td>{{hedge_account.id_number}}</td>
                         <td>{{hedge_account.create_date | date:'Y-m-d H:i'}}</td>
                     </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="box-head clearfix">
        <h1 class="pull-left">Products</h1>
    </div>
    <div class="box-content">
        <div class="table-container">
            <table id="products" class="table is-datatable">
                <thead>
                    <tr>
                        <th class="select-checkbox no-filter"></th>
                        <th>Product Name</th>
                        <th>Desctiption</th>
                        <th>Fuel Class</th>
                        <th>Create Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                     <tr>
                         <td></td>
                         <td><a href="/api/product/?product_id={{product.id}}">{{product.name}}</a></td>
                         <td>{{product.description}}</td>
                         <td>{{product.fuel_class.code}}</td>
                         <td>{{product.create_date | date:'Y-m-d H:i'}}</td>
                     </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>

<!-- modals -->
        <div id="add-fuel-type" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
                <form id="product_type_info" action="">
                  {% csrf_token %}
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Set Fuel Type</h4>
                  </div>
                  <div class="modal-body clearfix">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>please input comma separated values:</label>
                            <input type="text" id="fuel_type" value="{{fuel_type_str}}" name="fuel_type" class="form-control" data-role="tagsinput">
                        </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="add_fuel_type()">Save</button>
                  </div>
                </form>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="add-inventory" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
                <form id="inven_hedge_info" action="">
                  {% csrf_token %}
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add Inventory</h4>
                  </div>
                  <div class="modal-body clearfix">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="">name</label>
                            <input type="text" name="name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">fuel type </label>
                            <select name="fuel_type" class="form-control">
                                {% for ft in fuels %}
                                 <option value="{{ft.code}}">{{ft.code}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">location</label>
                            <input type="text" name="location" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Identifier Number</label>
                            <input type="text" name="id_number" class="form-control">
                        </div>
                         <div class="form-group">
                            <label for="">volume</label>
                            <input type="text" name="volume" class="form-control">
                        </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="add_inventory('Inventory')">Save</button>
                  </div>
                </form>

            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="add-hedge-account" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
                <form id="inven_hedge_info2"  action="">
                  {% csrf_token %}
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add Hedge Account</h4>
                  </div>
                  <div class="modal-body clearfix">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="">name</label>
                            <input type="text" name="name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">institution </label>
                            <input type="text" name="institution" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">account number </label>
                            <input type="text" name="id_number" class="form-control">
                        </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="add_inventory('HedgeAccount')">Save</button>
                  </div>
                </form>

            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        
<div id='variables' style="display:none">
    <span id="current_account_id">{{account.id}}</span>
</div>

<!--
    <div id="remove_user" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="bootbox-body">Are you sure you want to delete the items?
                </div>
            </div>
        </div>
    </div>
-->

{% endblock%}

{% block extra_js %}
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/bootbox.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/t/bs/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.1.2/js/dataTables.select.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="/static/js/moment.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-tagsinput.js"></script>
    <script src="/static/js/hidden.js"></script>
{% endblock %}
